.cities {
    margin: 2em;
    border: 0.2em solid #82716e;
    padding: 1em;
    font-size: 1.5em;
    font-family: Cambria;
    color: #82716e;
}

.city__image {
    height: 7em;
    width: 9em;
}

.city__link {
    text-decoration: none;

}
