<<<<<<< HEAD
.heads {
    margin: 2em;
    border: 0.2em solid darkslategrey;
    padding: 1em;
}
.head{
    
    font-size: 2em;
    font-family: Cambria;
    
    

=======
.heads{
    margin: 2em;
    border: 0.2em solid #ff414e;
    padding: 1em;
    font-size: 1.5em;
    font-family: Cambria;
    color: white;
>>>>>>> 98c3f7353a2a4ae1a7572daddbaa204fdbba79e5
}