   
.landmarks{
    margin: 2em;
    border: 0.2em solid #82716e;
    padding: 1em;
    font-size: 1.5em;
    font-family: Cambria;
    color: #82716e;

}

.landmark__image {
    height: 7em;
    width: 9em;
}

.landmark__hover{
    position: relative;
}
.landmark__link{
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    text-decoration: none;
}


.landmark__hover:hover{
    cursor: pointer;
   }
   
.landmark__hover:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
