   
.landmarks{
    margin: 2em;
    border: 0.2em solid #ff414e;
    padding: 1em;
    font-size: 1.5em;
    font-family: Cambria;
    color: white;

}
.landmark { 
    font-size: 1.5em;
    font-family: Cambria;
}