<<<<<<< HEAD
@import "./cities.css";
@import "./landmarks.css";
@import "./heads.css";

body {
    background-color: #ffde22;
}

.main {
    display: flex;

}

.content--left {
    flex: 1;

}
.content--middle { 
    flex: 1;

}
.content--right {
    flex: 1;

} 

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    
} 

.navbar a {
    float: left;
    color: #f2f2f2;   
    text-align: center;
    padding: 2rem 6rem;
    text-decoration: none;
    font-size: 2em;
} 

.logo {
    justify-content: left;
    height: 5em;
    background-color: #333;
}

/* 
.siteLogo {

}
.navLink{

} */

.header {
    position: relative;
    text-align: center;
    color: white;
    height: 20em;
    margin-top: 2em;
    margin-bottom: 8em; 
}
.countryName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;

}  
.countryPicture {
    width: 100%;
    height: 25em;
} 
.articleHeader {
    font-size: 2em;
    font-family: Cambria;
}
=======
@import "./cities.css";
@import "./heads.css";
@import "./landmarks.css";



.navbar {
    background-color: #ff414e;
    overflow: hidden;
    display: flex;
  }
  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2rem 6rem;
    text-decoration: none;
    font-size: 2em;
  }

  .logo{
      justify-content: left;
      height: 10em;
  }

  body {
      background-color: #ffde22
      ;
  }

.main{
    display:flex;
}

.content--left {
    flex: 1;
}
.content--middle { 
    flex: 1;
}
.content--right {
    flex: 1;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    height: 20em;
    margin-top: 2em;
    margin-bottom: 8em;
}

.countryName {
    position: absolute;
    top: 0.8em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
}

.countryPicture{
    width: 100%;
    height: 25em;
}
>>>>>>> 98c3f7353a2a4ae1a7572daddbaa204fdbba79e5
